@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-size-h1: 40px;
    --font-size-body1: 24px;

    --line-height-h1: 2rem;
    --line-height-body1: 16px;

    --font-sans: "Prompt", sans-serif;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 12 80% 20%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --shadow-default: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    --grapefruit: 0 100% 67%;
    --greenish-teal: 145 63% 49%;
    --warm-grey: 0 0% 60%;
    --grey: 0 0% 84.7%;
    --grey-two: 0 0% 37.3%;
    --grey-three: 0 0% 29%;
  }
}

@layer base {
  * {
    @apply border-border font-sans;
  }
  body {
    @apply bg-background text-foreground;
  }
  .h1 {
    @apply text-h1;
  }

  .body1 {
    @apply text-body1;
  }
}
